<a href="https://colab.research.google.com/github/NISHANTSRI/Machine-Learning/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("/content/train_dataset.csv")

In [11]:
df.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,7135,1654,CL,D-penicillamine,19581,F,N,N,Y,N,0.3,279.0,2.96,84.0,1500.8,99.43,109.0,293.0,10.2,4.0
1,7326,41,C,D-penicillamine,22880,F,NaN,N,NaN,N,0.3,NaN,2.96,NaN,1835.4,26.35,131.0,308.0,10.8,1.0
2,7254,297,D,NaN,27957,F,N,N,NaN,N,0.3,328.0,2.64,4.0,NaN,NaN,116.0,194.0,10.3,3.0
3,3135,1872,C,D-penicillamine,21111,F,NaN,Y,Y,N,0.3,302.0,2.02,49.0,NaN,26.35,NaN,NaN,10.5,4.0
4,2483,939,CL,D-penicillamine,18061,F,NaN,NaN,NaN,N,0.5,344.0,3.11,91.0,NaN,104.56,NaN,306.0,11.4,2.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6800 entries, 0 to 6799
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             6800 non-null   int64
 1   N_Days         6800 non-null   int64
 2   Status         6800 non-null   object
 3   Drug           4775 non-null   object
 4   Age            6800 non-null   int64
 5   Sex            6800 non-null   object
 6   Ascites        4554 non-null   object
 7   Hepatomegaly   4373 non-null   object
 8   Spiders        4210 non-null   object
 9   Edema          6800 non-null   object
 10  Bilirubin      6800 non-null   float64
 11  Cholesterol    3699 non-null   float64
 12  Albumin        6800 non-null   float64
 13  Copper         4644 non-null   float64
 14  Alk_Phos       4302 non-null   float64
 15  SGOT           4698 non-null   float64
 16  Tryglicerides  3988 non-null   float64
 17  Platelets      6462 non-null   float64
 18  Prothrombin    6645 non-null   float64
 19  Stage          6800 non-null   float64
dtypes: float64(10), int64(3), object(7)
memory usage: 1.0+ MB

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6800 entries, 0 to 6799
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             6800 non-null   int64
 1   N_Days         6800 non-null   int64
 2   Status         6800 non-null   object
 3   Drug           4775 non-null   object
 4   Age            6800 non-null   int64
 5   Sex            6800 non-null   object
 6   Ascites        4554 non-null   object
 7   Hepatomegaly   4373 non-null   object
 8   Spiders        4210 non-null   object
 9   Edema          6800 non-null   object
 10  Bilirubin      6800 non-null   float64
 11  Cholesterol    3699 non-null   float64
 12  Albumin        6800 non-null   float64
 13  Copper         4644 non-null   float64
 14  Alk_Phos       4302 non-null   float64
 15  SGOT           4698 non-null   float64
 16  Tryglicerides  3988 non-null   float64
 17  Platelets      6462 non-null   float64
 18  Prothrombin    6645 non-null   float64
 19  Stage          6800 non-null   float64
dtypes: float64(10), int64(3), object(7)
memory usage: 1.0+ MB